/* Navbar */
	/* search */
.search-nav input {
	width: 100px;
}

/* Home Page */
.portus-article-slider-big .item-photo:before {
	box-shadow: inset 0 -300px 200px -200px rgba(0,0,0,.6);
}

.portus-article-slider-big .item-small .item-photo:before {
	box-shadow: inset 0 -200px 100px -100px rgba(0,0,0,.6)
}

/* Forms */
select {
	margin-top: 10px;
	width: 100%;
}

input.button {
	margin-top: 10px;
}
